/* COMMON */
body{
    color: #333;
    font-size:  16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
  }

  img{
    display: block;
  }
  
  a {
    text-decoration: none; 
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
  }


.hide {
    width: 0;
    height: 0;
    font-size 0;
    line-height: 0;
    position: absolute;
    overflow: hidden;
}

/* HEADER */
header {
    height: 82px
}
header .inner{
    display: flex;
}
header .inner img {
    max-width: 100%;
    left: 0;

}
header .inner ul.index {
    display: flex;
    margin: 0 auto;

}
header .inner ul.index li{
    height: 18px;
    width: 120px;
    padding: 33px 0;
    text-align: center;
    font-size: 18px;
}

header .inner ul.index2 {
    right: 0;
    top: 32px;
    position: absolute;
    display: flex;
}
header .inner ul.index2 li{
    padding: 0 10px;
    font-size: 16px;
    position: relative;
}
header .inner ul.index2 li::before{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    top: 0;
    bottom: 0;
    background-color: #ddd;
    margin: auto;
    left: 0;
}
header .inner ul.index2 li:first-child:before{
    display: none;
}