/* COMMON */
body{
    color: #333;
    font-size:  16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
  }

  img{
    display: block;
  }
  
  a {
    text-decoration: none; 
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
  }


.hide {
    width: 0;
    height: 0;
    font-size :0;
    line-height: 0;
    position: absolute;
    overflow: hidden;
}

/* HEADER */
header {
    height: 82px
}
header .inner{
    display: flex;
}
header .inner img {
    height: 34px;
    width: 112px;
    position: absolute;
    top: 21px;
}


header .inner ul.index {
    display: flex;
    margin: auto;
}
header .inner ul.index li{
    height: 18px;
    width: 120px;
    padding: 33px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    font-weight: 900;
}
header .inner ul.index li a{
    color: black;
}
header .inner ul.index li a:hover{
    font-size: 0;
}
header .inner ul.index li:nth-child(1) a:hover::before{
    content: "소개";
    color: black;
    font-size: 18px;
}
header .inner ul.index li:nth-child(2) a:hover:before{
    content: "연구실";
    color: black;
    font-size: 18px;
}
header .inner ul.index li:nth-child(3) a:hover:before{
    content: "자료실";
    color: black;
    font-size: 18px;
}
header .inner ul.index li:nth-child(4) a:hover:before{
    content: "이벤트";
    color: black;
    font-size: 18px;
}
header .inner ul.index li:nth-child(5) a:hover:before{
    content: "공지사항";
    color: black;
    font-size: 18px;
}

header .inner ul.index2 {
    right: 0;
    top: 32px;
    position: absolute;
    display: flex;
}
header .inner ul.index2 li{
    padding: 0 10px;
    font-size: 16px;
    position: relative;
    font-family: 'roboto', sans-serif;
}
header .inner ul.index2 li:last-child{
    padding-right: 0;
}
header .inner ul.index2 li::before{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    top: 0;
    bottom: 0;
    background-color: #ddd;
    margin: auto;
    left: 0;
}
header .inner ul.index2 li:first-child:before{
    display: none;
}
header .inner ul.index2 li a{
    color: black;
}

/* Visual */
